.SkillSection {
  // min-height: 100vh;
  padding-block: 50px;

  .content {
    padding-inline: 12%;

    .skills {
      display: flex;
      align-items: flex-end;
      gap: 20px;
      user-select: none;
      padding-block: 50px;

      span {
        color: #8629e9;
        font-size: 16px;
        margin-top: auto;
      }

      h1 {
        display: flex;
        align-items: center;
        color: #ffffffcb;
        gap: 20px;

        hr {
          width: 250px;
          border-bottom: #ffffff7a solid 1px;
        }
      }
    }

    .box_skills {
      max-width: 100%;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      display: flex;
      gap: 40px;
      padding: 30px 50px 50px;
      border-radius: 10px;
      box-shadow: #8629e97e 0px 6px 8px 6px;

      .block_skill {
        width: auto;
        height: 50px;
        padding: 0px 40px;
        border-radius: 6px;
        box-shadow: #5b4572 0px 3px 8px 2px;
        flex-shrink: 0;
        transition: 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff7a;

        scroll-snap-align: center;
        background: linear-gradient(to bottom, #0939bd59, #642ca0);

        &:hover {
          box-shadow: #4b0892 5px 12px 0px 0px;
          translate: -5px -10px;
          color: #fff;
        }
      }
    }

    ::-webkit-scrollbar {
      width: 1px;
    }

    .txt {
      color: #ffffff7a;
      text-align: center;
      letter-spacing: 4px;
      translate: 0 -40px;
      user-select: none;
    }
  }
}

@media (max-width: 800px) {
  .SkillSection {
    .content {
      padding-inline: 10px;
      .skills {
        h1 {
          hr{
            width: 100px;
          }
        }
      }
    }
  }
}
