.Footer {
  margin-top: auto;
  padding: 40px;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .social {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 80px;

      a {
        padding-bottom: 5px;
        border-bottom: #7b00ff 2px solid;
        color: #8629e9;
        font-size: 20px;
        transition: 0.5s;

        &:hover {
          translate: 0 -10px;
          padding-bottom: 10px;
        }
      }
    }

    p {
      font-size: 14px;
      background: linear-gradient(to top, #7b00ff, #0077ff);
      color: transparent;
      background-clip: text;
    }
  }
}
